/* Fonts and colors */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

.lex {
  font-family: "Lexend Deca";
}

.jos {
  font-family: "ABeeZee"; 
}

.white-jos { 
  font-family: "ABeeZee"; 
  color: #fff;
}

.yellow-lex {
  color: #F6AF55;
  font-family: "Lexend Deca";
}

.yellow-jos {
  color: #F6AF55;
  font-family: "ABeeZee";
}

.purple {
  color: #01304E;
}


.yollow {
  color: #928a7b;
}

.yollow-text {
  color: #c19a56;
}

.yollow-lex {
  color: #F6AF55;
  font-family: "Lexend Deca";
}

.yellow {
  color: #F6AF55 !important;
}

.yellowr {
  color: #5b5a5f !important;
  text-align: right;
  vertical-align: middle;
  background-color: #F6AF55;
  padding: 1em;
  margin: -.62em -.62em 0 0em;
  border-radius: 0px 20px 0px 20px;
  font-size: clamp(1.3em, -1.2em + 2.1vw, 2.55rem)
}

.yellow-text {
  color: #F6AF55 !important;
}

.yellow-lex {
  color: #F6AF55;
  font-family: "Lexend Deca";
}

.red {
  color: #fb4c38  ;
}

.red-lex {
  color: #fb4c38;
  font-family: "Lexend Deca";
}

.gray {
  color: #5b5a5f;
}

.gray2 {
  color: #9b989f;
}

.nexus {
  color: #00adbe;
}

.subt {
  text-align: justify !important;
  color: #F6AF55;
}

.center {
  text-align: center !important;  
}

.justify {
  text-align: justify;
}

.em {
  font-size: 0.8em !important;
}

.oneem {
  font-size: 1.3em;
}

ol {
  list-style: none;
  counter-reset: li
}

li {
  counter-increment: li
}

 ol li::before {
  content: counter(li);
  color: #119195;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em; 
  text-align: right; 
  direction: rtl
}

/* Sections */

*, *:after, *:before  {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body {
  background-color: #01304E;
  background-image: linear-gradient(to top, #141e30 40%, #01304E 75%);
  background-size: 200% 200%;
}

.App {
  border-radius: 20px;
  margin-top: 4em;
  width: 100%;
  font-family: 'Lexend Deca', sans-serif !important;
  color: #119195;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#margin {
  position: relative;
  display: grid;
  grid-template-columns: minmax(200px, 700px);
  justify-content: center;
}

#margin2 {
  position: relative;
  display: grid;
  grid-template-columns: minmax(200px, 900px);
  justify-content: center;
}

ol {
  padding: 1em;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Header */

.justify-content-end {
  vertical-align: middle !important;
  text-align: right;
}

Nav {
  position: fixed !important;
  font-family: 'Lexend Deca', sans-serif;
}

.NavLink {
  margin-left: 15px;
  text-align: right;
}

.NavLink:hover {
  color: #F6AF55 !important;
  margin-left: 15px;
  text-align: right;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
}

.language {
  vertical-align: middle !important;
  border: none !important;
  text-align: center !important;
  display: inline-block !important;
  color: #01304E !important;
}

div.dropdown-menu.show {
  text-align: center;
  background-color: #F6AF55;
  border-radius: 100px !important;
}
div.dropdown-menu.show:hover {
  text-align: center;
  background-color: #119195;
  border-radius: 100px !important;
  
}

a.dropdown-item:hover {
  background-color: #119195;   
  border-radius: 20px !important;
  color: #fff !important;
}

/* Home */

.headline {
  font-weight: 300;
  line-height: 150%;
  color: #ffffff;
  text-align: center;
  position: relative;
  
}

.headline-p {
font-size: clamp(1em, -0.975rem + 6.5vw, 1.6rem);
margin-top: 0.5em;
font-weight: 300;
font-family: "ABeeZee";
color: #F6AF55;
}

.grid-block {
font-size: clamp(.9em, -0.975rem + 6.5vw, 1.5rem);
text-align: center;
padding: 1em;
margin-top: 1.5em;
}

.account-bg {
  font-size: 1.3em;
  padding: 1em;
  background-color: #00000068;
  border-radius: 25px;
  height: 100%;
  position: relative !important;
}

.main-reward {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 0.8em;
  color: #01304E !important;
}

.main-reward .ustext {
  visibility: hidden;
  width: 150%;
  bottom: 100%;
  left: -25%;
  font-family: 'ABeeZee';
  background-color: white;
  color: #211e40 !important;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 0.3em;
  font-size: 1em;
  position: absolute;
}

.main-reward .ustext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}

.main-reward:hover .ustext {
  visibility: visible;
}

.main-reward:hover {
  background-image: radial-gradient(#01304E, #01304E);
  border-radius: 10px;
  color: #ffffff !important;
}

.main-reward:active {
  background-image: radial-gradient(#01304E, #5c54a6);
  background-color: transparent !important;
}

.main-reward:focus {
  box-shadow: none !important;
  background-color: transparent !important;
}

.main-reward:link {
  background-color: transparent !important;
}

.account-bgu {
  color: #01304E;
  padding: 1em;
  background-color: #ffffffac;
  border-radius: 25px;
  height: 100%;
  position: relative !important;
  font-size: 1.3em;
}

h1 {
  font-size: clamp(2.5em, -0.875rem + 8.333vw, 4.5rem);
  font-weight: 400;
  text-align: center;
}

h2 {
  font-size: clamp(1em, -0.875rem + 6.6vw, 2.3rem)
}

h3 {
  font-size: clamp(1em, -0.875rem + 6.6vw, 1.55rem);
  line-height: 175%;
  text-align: justify;
}


.timeyr {
  padding: 1em;
  margin-bottom: 1em;
  font-size: clamp(1.5rem, -0.875rem + 8.333vw, 4rem);
  line-height: 110%;
}

.cv {
  display: flex;
  height: 50vh;
  position: relative; 
  align-items: center;
  justify-content: center;
}

.locked {
  background-color: transparent;
  border-radius: 20px;
  margin-top: 1em;
  border: none;
}

.unlocked {
  background-color: transparent;
  border-radius: 20px;
  margin-top: 1em;
  border: none;
}

.title {
  color: #ffffff !important; 
  font-size: 1.5rem !important;
  margin-top: 1em;
  text-align: center;
  vertical-align: middle;
  font-family: "ABeeZee";
}

.big-icon {
  font-size: clamp(3.5rem, -0.875rem + 8.333vw, 3rem);
  color: #ffffff;
  font-family: "Lexend Deca";
}

.taro-balance {
  width: auto;
  color: #2b284a;
  font-size: 2em;
  text-align: center;
  line-height: 100%;
}

.taro-locked {
  width: auto;
  color: #ffffff;
  font-size: 2em;
  text-align: center;
  vertical-align: bottom;
}

.main-button {
  color: #ffffff;
  font-size: 3em;
  text-align: center;
}

.taro {
  font-size: 0.5em !important;
  vertical-align: baseline;
}

/* Alerts */

.valert {
  font-size: clamp(.9em, -0.975rem + 6.5vw, 1.6rem);
  color: #fff !important;
  border-radius: 10px;  
  background: linear-gradient(90deg, #2b284a00, #2b284a00, #dc3840b5, #e26c72b5, #2b284a00, #2b284a00);
  background-size: 500% 500%;
  animation: gradient 2s ease infinite;
}

.valert2 {
  font-size: clamp (.9em, -0.975rem + 6.5vw, 1.6rem);
  margin-left: -0.5em;
  margin-right: -0.5em;
  margin-top: -3em;
  width: auto !important;
  padding: 1em;
  background: linear-gradient(90deg, #2b284a00,#2b284a00, #ff950069, #ff950069, #2b284a00, #2b284a00);
  background-size: 500% 500%;
  animation: gradient 2s ease infinite;
  border-radius: 0px 0px 25px 25px;
}

.valert3 {
  background-size: cover;
  font-size: clamp(1em, -0.975rem + 6.5vw, 1.8rem);
  margin: -0.75em -0.75em -0.75em -0.75em;
  border-radius: 20px;
  width: auto !important;
  padding: 1em;
  background-image: linear-gradient(#dc3840, #e26c72);
  color: #fff !important;
}

.valert4 {
  background-size: cover;
  font-size: clamp(1em, -0.975rem + 6.5vw, 1.8rem);
  margin-top: -3.7em;
  margin-bottom: -1.1em;
  height: 100vh;
  padding: 25% 1em;
  font-family: 'Lexend Deca';
  background: linear-gradient(90deg, #2b284a00, #2b284a00, #dc3840b5, #e26c72b5, #2b284a00, #2b284a00);
  background-size: 500% 500%;
  animation: gradient 2s ease infinite;
  color: #fff !important;
}

/* Animations */

.shake {
  animation: shake 1s cubic-bezier(0.56, 0.47, .29, 0.77) both;
  transform: translate3d(0, 0, 0);
  animation-iteration-count: infinite;
  backface-visibility: hidden;
  perspective: 900px;
  height: 200px;
  top: -4.5em;
  z-index: -1;
  opacity: 50%;
  position: relative;
}


.shake2 {
  margin: 0.5em;
  animation: none;
  height: 200px;
  top: -3em;
  z-index: -1;
  opacity: 50%;
  position: relative;
}

.shake2:hover {
  margin: 0.5em;
  animation: shake 1s cubic-bezier(0.56, 0.47, .29, 0.77) both;
  animation-iteration-count: infinite;
}


@keyframes shake {
  10%,
  90% {
    transform: translate3d(-10px, auto, auto);
  }

  20%,
  80% {
    transform: translate3d(2px, auto, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.jump{
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes jump {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-50px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

/* Screen variants */

@media only screen and (min-width: 1400px) {
  .App {
    width:100%;
    height: auto;
    margin-top: 5em;
    justify-content: center;
  }

  .unlocked {
    width: 100% !important;
    justify-content: center;
  }
  
  .locked {
    width: 100% !important;
  }

  .main-grid {
    column-gap: 1em;
    margin: 0 15vh 0 15vh;
  }  

  .headline {
    margin: 15vh 40vh 0 40vh;
  }

  Button {
   font-size: 1.3rem !important;
  }

  .main-reward {
    font-size: 0.65em;
  }

  .un-reward {
    font-size: 1.5em;
  } 

  .grid-block {
    margin: 0 25vh 0 25vh;
  }

  .valert2 {
    padding-left: 30%;
    padding-right: 30%;
  }
}

@media only screen and (min-width: 1000px) {
  .headline {
    margin: 0 5vh 0 5vh;
  }
}

@media only screen and (min-width: 1800px) {
  .grid-block {
    margin: 0 35vh 0 35vh;
  }
}