/* Scaling Hack version */
.orange-unlock {
    border-radius: 20px;
    width:100%;
    margin: 3% auto;
    background-image: linear-gradient(#FF9400, #ffc16b);
    font-family: 'Lexend Deca', sans-serif;
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    color: #3d386b !important;
  }
  
  .gray2 {
    border-radius: 20px;
    width:100%;
    margin: 3% auto;
    background-image: linear-gradient(#3d386b, #554c9c);
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    color: #ffffff !important;
    text-align: left !important;
  }
  
  .yellow-unlock {
    border-radius: 20px;
    width:100%;
    margin: 3% auto;
    background-image: linear-gradient(#FAC91A, #fde17c);
    font-family: 'Lexend Deca', sans-serif;
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    color: #3d386b !important;
  }
  
  .yellowB {
    border-radius: 20px;
    width:100%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    background-image: linear-gradient(#FAC91a,#fcd95c);
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    color: #3d386b !important;
  }
  
  .past {
    border-radius: 20px;
    width:100%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    background-image: linear-gradient(#a8a4a4 , #c2bfbf);
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    color: #3d386b !important;
  }
  
  .orangeB {
    border-radius: 20px;
    width:100%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    background-image: linear-gradient(#FF9400,#fab759);
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    color: #3d386b !important;
  }
  
  
  
  
  .alt {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    border-radius: 20px !important;
    border: none !important;
    justify-content: left !important;
  }
  
  .aboutlink {
    color: #FF9400 !important;
  }
  
  .submitbutton {
    margin-top: 3%;
    margin-bottom: 5%;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
  }
  
   

  .main  {
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1em;
    text-align: justify !important;
    text-justify: inter-word !important;
    box-sizing: border-box !important;
    padding: 15px;
  }
  
  .text-medium-left {
    font-size: 1rem !important;
    text-align: center !important;
    display: inline-block !important;
    justify-content: center !important;
    align-content: center !important;
    position: relative !important;
    margin-bottom: 5%;
  }
  

  
  .text-large {
    font-family: 'Lexend Deca', sans-serif !important;
    text-align: center;
    font-size: 2rem !important;
    margin-top: 1% !important;
    margin-bottom: 2%;
  }
  
  .text-large-quiz {
    font-family: 'Lexend Deca', sans-serif !important;
    text-align: left;
    font-size: 20px !important;
  }
  
  .floating {
    border-radius: 20px;
    width:100%;
    
    font-family: 'Lexend Deca', sans-serif;
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    color: #ffffff !important;
  }
  
  .title2 {
    width: 100%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px !important;
    text-align: center;
    color: #3d386b;
  }
  
  .titlep {
    width: 100% !important;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px !important;
    text-align: center;
    color: #3d386b;
  }
  
  .create {
    text-align: center;
  }
  
  .white2 {
    text-align: left;
    margin-bottom: 1% !important;
    font-size: 18px !important;
    color: #ffffff !important;
  }
  
  .orange2 {
    margin-bottom: 3% !important;
    font-size: 18px !important;
    color: #FF9400 !important;
  }
  
  .orange3 {
    font-size: 20px;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
    color: #FF9400 !important;
  }

  .purple-unlock {
    margin-left: 1.5em !important;
    font-size: 18px !important;
    text-align: left;
    color: #ffffff !important;
  }
  
  
  .modalheader {
    text-align: center !important;
    font-size:30px !important;
    color: #ffffff;
  }
  
  .aboutC {
    text-align: left !important;
    font-size: 1  em !important;
    color: #ffffff;
  }
  .aboutB {
    text-align: left !important;
    font-size: 1.5em !important;
    color: #ffffff;
  }
  .aboutCo {
    text-align: center !important;
    margin-bottom: 2%;
    font-size: 1.5em !important;
    color: #FF9400;
  }
  
  .purple2 {
    margin-top: 1%;
    margin-bottom: 3%;
    color: #3d386b;
  }
  
  .purple3 {
    font-size: 15px !important;
    text-align: center !important;
    margin-top: 1%;
    color: #3d386b;
  }
  
  .white {
    color: #ffffff !important;
    text-align: justify !important;
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
  }
  
  
  Proposal 
  
  .proposala {
    border-radius: 20px;
    width:100%;
    margin: 3% auto;
    background-image: linear-gradient(#36a74e, #82bb8e)!important;
    font-family: 'Lexend Deca', sans-serif;
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    color: #3d386b !important;
  }
  
  .proposalr {
    border-radius: 20px;
    width:100%;
    margin: 3% auto;
    background-image: linear-gradient(#dc3840, #da898d)!important;
    font-family: 'Lexend Deca', sans-serif;
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    color: #3d386b !important;
  }
  
  .proposal-table {
    width: 100%;
    margin-top: 1%;
    display: table;
    text-align: center !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    color: #ffffff;
    border-radius: 20px;
  } 
  
  .proposal-details {
    width: 100%;
    text-align: left;
    padding-left: 3%;
    color: #ffffff;
  }
  
  .orange-card2 {
    background-color: #FF9400;
    width: 100%;
    margin-left: 2%;
    border-radius: 10px;
    text-align: center !important;
    font-size: 12px !important;
    color: #3d386b !important;
  }
  
  .white-card {
    width: 100%;
    text-align: left !important;
    color: #ffffff !important;
  }
  
  
  
  .proposal-authorpast {
    font-size: 0.85em;
    color: #3d386b;
  }
  
  .proposal-date {
    color: #ffffff;
    padding-right: 3%;
    text-align: right;
    font-size: 0.85em;
  }
  
  .proposal-hero {
    text-align: center;
    width: 100%;
    padding: 2%;
    font-size: 1em !important;
    color: #FF9400 !important;
  }
  

  
  .description-text {
    display: table;
    width: 50%;
    font-size: 14px;
  }
  
  .proposal-title3 {
    width: 50%;
    text-align: left !important;
    color: #FF9400 !important;
  }
  
  .proposal-titles {
    display: table-cell;
    text-align: left !important;
    color: #FAC91A !important;
  }
  
  .proposal-favor {
    text-align: left !important;
    color: #ffffff !important;
  }
  
  .proposal-against {
    text-align: right !important;
    color: #ffffff !important;
  }
  
  .proposal-action {
    text-align: left;
    color: #ffffff;
    border-radius: 20px;
    padding: 0.5em;
    font-family: 'ABeeZee';
  }
  

  
  .proposal-location {
    margin: 3% auto;
    display: table-cell;
    text-align: center !important;
    font-size: 1em !important;
    color: #FAC91A !important;
     background-image: linear-gradient(#ffffff51, #ffffff2c)!important;
    border-radius: 20px;
  }
  
  .proposal-cost {
    margin: 3% auto;
    display: table-cell;
    text-align: center !important;
    font-size: 1em !important;
    background-image: linear-gradient(#ffffff51, #ffffff2c)!important;
    color: #FAC91A !important;  
    border-radius: 20px;
  }
  
  .proposal-subaction {
    display: table;
    color: #3d386b !important;
  }
  
  .against {
    background-color: #3d386b !important;
    border-radius: 20px !important;
    margin-top: 3%;
    margin-bottom: 1%;
  }
  
  .favor {
    background-color: #3d386b !important;
    border-radius: 20px !important;
    margin-top: 3%;
    margin-bottom: 1%;
  }
  
 
  
  .big-iconf {
    display: block;
    border-radius: 20px;
    background-image: linear-gradient(#36a74e, #82bb8e)!important;
    margin-right: 2% ;
    font-size: 3em !important;
    text-align: center;
    color: #ffffff;
  }
  
  .big-icona {
    font-size: 3em !important;
    margin-left: 2%;
    text-align: center;
    color: #ffffff;
    border-radius: 20px;
    background-color: #dc3840;
    background-image: linear-gradient(#dc3840, #da898d)!important;
  }

  
