/* Create Proposal */

.newprop {
  padding: 1em;
  margin-top: 5em;
  text-align: center;
  font-family: 'Lexend Deca';
}

Form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5em;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    color: #fff;
    box-shadow: none !important;
}

.form-control {
    border-color: #ffffff33!important;
    background-color: transparent;
    border-width: 0 0 2px;
    border-radius: 0%;
    transition: text-indent 0.4s 0.4s ease;
    color: #fff !important;
}

.form-control:focus-visible {
  border-color: #FF9400 !important;
  background-color: transparent !important;
  color: #FF9400 !important;
  box-shadow: none !important;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff ;
}

.form-control select option:hover {
  background: #ff9500 -webkit-linear-gradient(bottom, #ff9500 0%, #ff9500 100%) !important;
  color: #fff !important;
}

.form-label {
 font-size: 0.9em;
 color: #ffffff62;
 font-family: "Josefin Sans";
}

.description {
  font-size: 1.3em !important;
}

input {
  font-size: 1.3em !important;
  box-shadow: none !important;
}

input:focus {
  box-shadow: none !important;
  -webkit-appearance:none !important;
  border-color: #ffffff !important;
}

select option {
    background-color: #262341 !important;
    -webkit-appearance:none !important;
    border-color: transparent !important;
    border: 0 !important;
    border-width: 0 !important;
}

option {
  padding: 0.2em !important;
}

optgroup {
  background-color: #6e66b6 !important;
  -webkit-appearance:none !important;
  border-color: transparent !important;
  border: 0 !important;
  border-width: 0 !important;;
  font-weight: 300;
  font-size: 0.8em;
}

select {
  font-size: 1.3em !important;
  box-shadow: none !important;
  -webkit-appearance:none !important;
  background-color: transparent !important;

}

select option:checked {
  background: #ff9500 -webkit-linear-gradient(bottom, #ff9500 0%, #ff9500 100%) !important;
  color: #fff !important;
}

option:disabled { 
  color: #9e9e9e !important; 
  border: 0 !important;
}

.progress-holder {
  margin-left: -1em;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 110%;
  background-color: #cccccc59;
}
.progress-container {
  width: 100%;
  height: 100%;
  background: #cccccc59;
}
.progress-bar {
  height: 5px;
  background: #ff9500c7;
  width: 0%;
}

.progress-bar2 {
  height: 5px;
  background: #00aebe92;
  width: 0%;
}

/* Proposal List */

.proplist {
  padding: 0.5em;
  margin-top: 5em;
  text-align: center;
  font-family: 'Lexend Deca';
}

.propgrid {
display: grid;
grid-template-columns: 1fr;
grid-gap: 0.5em;
}



.propsub {
  text-align: left;
  font-size: 0.8em;
  color: #FF9400;
  font-family: "Josefin Sans";
}

.prop-img {
  height: 200px !important;
  width: auto;
}

.propopt {
  margin-top: -0.3em;
  text-align: left;
  font-size: 1.7em;
  color: #ffffff;
}

.prop-bg {
  padding: 1em;
  background-color: #00000068;
  border-radius: 25px;
  height: 175px;
  width: 100%;
  position: relative;
  border-width: 0.1em;
  border-style: solid;
  border-color: transparent;
}

.prop-bg img {
  content:'';
  position: absolute;
  bottom: 0px;
  right:  10px;
  opacity: 90%;
  height: 120px;
  border-radius: 25px;
}


.prop-bg:hover {
  border-width: 0.1em;
  border-style: solid;
  border-color:linear-gradient(45deg, #ffffff, #ffffff);
  background: linear-gradient(-45deg, #2b284a00, #fac91a78, #fac91a78, #2b284a00);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

.prop-bg2 {
  padding: 1em;
  background-color: #00000068;
  border-radius: 25px;
  height: 175px;
  width: 100%;
  position: relative;
  border-width: 0.1em;
  border-style: solid;
  border-color: transparent;
}

.prop-bg2 img {
  content:'';
  position: absolute;
  bottom: 0px;
  right:  10px;
  opacity: 90%;
  height: 120px;
  border-radius: 25px;
}


.prop-bg2:hover {
  border-width: 0.1em;
  border-style: solid;
  border-color:linear-gradient(45deg, #ffffff, #ffffff);
  background: linear-gradient(-45deg, #2b284a00, #FF940076, #FF940076, #2b284a00);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

.prop-bgh {
  padding: 1em;
  background-color: #00000068;
  border-radius: 25px;
  height: 175px;
  width: 100%;
  position: relative;
  border-width: 0.1em;
  border-style: solid;
  border-color: transparent;
}

.prop-bgh img {
  content:'';
  position: absolute;
  bottom: 0px;
  right:  10px;
  opacity: 90%;
  height: 120px;
  border-radius: 25px;
}

.prop-bgh:hover {
  border-width: 0.1em;
  border-style: solid;
  background: linear-gradient(-45deg, #b5342dac, #b5342dac, #395b2c, #395b2c);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

.prop-bgv {
  padding: 1em;
  background-color: #00000068;
  border-radius: 25px;
  height: 175px;
  width: 100%;
  position: relative;
  border-width: 0.1em;
  border-style: solid;
  border-color: transparent;
}

.prop-bgv img {
  content:'';
  position: absolute;
  bottom: 0px;
  right:  10px;
  opacity: 90%;
  height: 120px;
  border-radius: 25px;
}

.prop-bgv:hover {
  border-width: 0.1em;
  border-style: solid;
  background: linear-gradient(-45deg, #2b284a00, #00aebea0, #00aebea0, #2b284a00);
  background-size: 500% 500%;
  animation: gradient 2s ease infinite;
}

.prop-bgr {
  padding: 1em;
  background-color: #00000068;
  border-radius: 25px;
  height: 175px;
  width: 100%;
  position: relative;
  border-width: 0.1em;
  border-style: solid;
  border-color: transparent;
}

.prop-bgr img {
  content:'';
  position: absolute;
  bottom: 0px;
  right:  10px;
  opacity: 90%;
  height: 120px;
  border-radius: 25px;
}

.prop-bgr:hover {
  border-width: 0.1em;
  border-style: solid;
  border-color: transparent;
  background: linear-gradient(-45deg,  #ff9500d3, #ff9500d3,#2b284a8f, #2b284a8f);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

.props {
  padding: 1em;
  margin-top: 3%;
  color: #ffffff !important;
  border-radius: 25px;

  font-size: 0.9em;
}

.void {
  padding: 1em;
  margin-top: 3%;
  color: #ffffff !important;
  border-radius: 25px;
  background: linear-gradient(#ff950000,#5751a28f, #2b284a8f);
  font-size: 0.9em;
}

.void-link {
  border-radius: 20px;
  font-family: 'Lexend Deca', sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows:  repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 0.5em;
  margin: -0.5em -.5em;
}

.ribvan {
  opacity: 160% !important;
  z-index: -1;
  height: 50% !important;
}

/* Proposal */

.proposal {
  border-radius: 20px;
  width: auto;
  background-color: #00000068;
  padding: 1em 1em;
  margin-left: -1em;
  margin-right: -1em;
  font-family: 'Lexend Deca', sans-serif;
}

.grid-prop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6em 6em;
  text-align: left;  
  grid-gap: 0.5em;
  justify-self: center;
  align-self: center;
  margin-left: -.5em;
  margin-right: -.5em;
  margin-bottom: 0.5em;
}

.proposal-expiration {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  color: #fff;
  grid-gap: 1em;
  text-align: left;
  margin-bottom: 2em;
}

.prop-hl {
  font-size: clamp(1.1rem, -0.65rem + 8.333vw, 1rem);
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  position: relative; 
  font-family: 'Lexend Deca';
  text-align: left;
 }

.description-bg {
  color: #FF9400;
  font-family: "Josefin Sans"; 
  background-color: #ffffff26;
  border-radius: 20px;
  padding: 0.5em;
  text-align: left;
  margin-left: -.5em;
  margin-right: -.5em;
  margin-bottom: 0.5em;
}

 .prop-description {
  text-align: justify;
  font-size: 1.15em;
  padding: 0.4em;
  font-family: 'Lexend Deca';
  color: #fff;
  
 }

.mini-title {
  color: #FF9400;
  font-family: "Josefin Sans"; 
  text-align: left;  
}

.minit-bg {
  color: #FF9400;
  font-family: "Josefin Sans"; 
  background-color: #ffffff26;
  border-radius: 20px;
  padding: 0.5em;
  text-align: left;
}