#quiz {
    margin-top: 3%;
    color: #ffffff;
    background: linear-gradient(#2b284a,#00aebe92, #00aebe92);
    font-size: 0.9em;
    background-size: 200% 150%;
    margin-top: -1em;
    padding: 5em 0.5em 0.5em;
    font-family: 'Lexend Deca', sans-serif;
}

.quiz-bg {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 1em;
    border-radius: 1em;
}

.quiz-grid {
    border-radius: 20px;
    font-family: 'Lexend Deca', sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows:  repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 0.75em;
    margin: 0em 0em 0em 0em;
    justify-self: center !important;
    align-self: center !important;
}

.quiz-lb {
 justify-self: center !important;
 align-self: center !important;
 position: relative;
 text-align: center;
 color: #2b284a;
 font-size: 0.8em;
 padding: 2em;
}

.question-card {
  background-color: transparent;
  width: 100%;
  border: none;
  margin-top: 3% !important;
  font-size: 15px !important;
  color: #ffffff !important;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 8em;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
  width: 120px;
  background-color: #fff;
  color: #3d386b;
  border-radius: 50%;
  font-size: 0.6em;
  text-align: center;
  cursor: pointer;
  padding-top: 3.5em;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ff9500f1;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
  background: linear-gradient(75deg, #2b284a00, #ff9500d7, #ff9500d7, #ff950069, #2b284a00);
  background-size: 500% 500%;
  animation: gradient 3s ease infinite;
  color: white;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
  top: 12.5%;
  left: 12.5%;
  width: 90px;  
  height: 90px;
  border-radius: 50%;
  background: #7e7e7e;
  opacity: 20%;
  }

  .verify-bt {
    padding: 1em;
    color: white;
    background-color: #00000068;
    border-radius: 25px;
    height: 100%;
    width: fit-content;
    position: relative;
    border-width: 0.1em;
    border-style: solid;
    border-color: transparent;
    font-size: 1.2em;
    margin: 2em;
  }

  
  .verify-bt:hover {
    background: linear-gradient(75deg, #2b284a00, #ff9500d7, #ff9500d7, #ff950069, #2b284a00);
    background-size: 500% 500%;
    animation: gradient 2s ease infinite;
    cursor: pointer;
    
  }
