@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.App {
  background-color: #ffffff;
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
  color: #FF9400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar { 
  background-color: #F2F2F2;
  font-family: 'Lexend Deca', sans-serif;
  color: #3d386b;
}

main {
  margin: 2em;
}

.Wallet {
  border-radius: 25px !important;
  margin-top: 1%;
  margin-bottom: 1%;
  border: none !important;
  background-color: #FF9400 !important;
}

Button {
  border-radius: 25px !important;
  background-color: #FF9400 !important;
  border: none !important;
  color: #3d386b ;
}

button:disabled {
  background-color: #5f5f5f !important;
  color: #cac9c9 !important;
}

.text-large {
  font-size: 2rem !important;
  margin-top: 5%;
  margin-bottom: 5%;
}
.gray {
  border-radius: 25px;
  width:100%;
  max-width: 450px;
  margin: 3% auto;
  background-image: linear-gradient(#eee, #ccc);
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.gray2 {
  border-radius: 25px;
  width:100%;
  max-width: 450px;
  margin: 3% auto;
  background-image: linear-gradient(#3d386b, #3d386b);
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #ffffff !important;
  text-align: left !important;
}

.gray3 {
  border-radius: 25px;
  width:100%;
  max-width: 450px;
  margin: 3% auto;
  background-image: linear-gradient(#eee, #ccc);
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  color: #3d386b !important;
}

.leaderboard {
border-radius: 25px;
width:100%;
max-width: 450px;
margin: 3% auto;
display: flex !important;
justify-content: center !important;
align-content: center !important;
align-items: center !important;
}

.list-group-item {
  color: white;
  background-image: linear-gradient(#3d386b, #242044)!important;
  width:100%;
  max-width: 450px;
  margin: 0% auto;
}

.title {
  color: #3d386b;
  font-size: 2rem !important;
  background-image: linear-gradient(#FF9400, #FAC91A)!important;
}

.title2 {
  color: #3d386b;
  background-image: linear-gradient(#FAC91a, #FF9400)!important;
}

.item {
  display: flex;
  overflow: auto;
  width:100%;
}

.item2 {
  display: flex;
  overflow: auto;
  margin-top: 5% auto;
  width:100%;
  min-height: 150px;
}

.orange{
  color: #FF9400;
  
}

.white{
  color: #ffffff !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
}